body {
    color: #c32c6e;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
  }
  
  .Weather .weather-app {
    background: radial-gradient(circle, #eeaecaae 0%, #94bbe99d 100%);
    border-style: solid;
    border-radius: 5px;
    border: #dfe9f3;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
    margin: 20px auto;
    max-width: 650px;
    padding: 10px;
  }
  
  .Weather .weather-app-wrapper {
    margin: 20px auto;
    max-width: 650px;
  }
  
  .Weather .date {
    font-size: 15px;
    margin-bottom: 0;
    text-align: left;
  }
  
  .Weather .change-city {
    border-color: #dfe9f3;
    border-width: 1px;
    font-size: 15px;
    text-align: right;
  }
  
  .Weather .search-button {
    background: #e6edf59d;
    border-color: #dfe9f3;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    color: #c32c6e;
    font-size: 15px;
    transition: all 200ms ease-in-out;
  }
  
  .Weather .search-button:hover {
    background: whitesmoke;
  }
  
  .Weather h1 {
    font-size: 23px;
    padding-top: 40px;
  }

  .Weather li {
    list-style: none;
  }
  
  .Weather .details {
    font-size: 14px;
  }
  
  .Weather .temperature {
    color: #c32c6e;
    font-size: 100px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 40px;
  }
  
  .Weather .unit {
    font-size: 20px;
    vertical-align: 57px;

  }
  
  .Weather .unit {
    color: #c32c6e;
    transition: all 200ms ease-in-out;
    text-decoration: none;
  }

  .Weather a {
    text-decoration: none;
    color: #c32c6e;
    font-size: 15px;
  }
  
  .Weather a:hover {
    color: #730736;
  }
  
  .Weather h2 {
    font-size: 14px;
  }
